root {
  --offset: 6px;
}

html, body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex; /* Display sections in a row */
  width: 600%; /* 100% for each section (3 sections total) */
  height: 100vh; /* Full viewport height for each section */
  transition: transform 0.8s ease; /* Smooth transition for scrolling */
  transform: translateX(0); /* Start with the first section */
  margin-left: 82px;
  border: 2px solid blue;
}

.section1,.section2,.section3,.section4,.section5 {
  flex: 1; /* Equal width for each section */
  text-align: center;
  font-size: 2em;
  padding: 20px;
}

p {
  font-size: large;
}

/* Customize each section */
.section1 {
  background-color: var(--night-background-color);
}

.section2 {
  background-color: var(--night-background-color);
}

.section3 {
  background-color: var(--night-background-color);
}

.section4 {
  background-color: var(--night-background-color);
}

.section5 {
  background-color: var(--night-background-color);
}




.section3 {
  display: flex;
  justify-content: center;
  align-items: center;

}

h2 {
  width: 900px;
  font-size: 90px;
  font-family: Helvetica;
  line-height: 1.06;
  letter-spacing: -0.02em;
  color: var(--night-text-color);
  cursor: url('image/cc1.svg'),auto;
}

.mask {
  height: 106px;
  position: relative;
  overflow: hidden;
  margin-top: var(--offset);
}

.mask span {
  display: block;
  box-sizing: border-box;
  position: absolute;
  top: 100px;
  padding-bottom: var(--offset);
  
  background-size: 100% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
}

.mask span[data-show] {
  transform: translateY(-100%);
  transition: .5s transform ease-in-out;
}

.mask span[data-up] {
  transform: translateY(-200%);
  transition: .5s transform ease-in-out;
}

.mask span:nth-child(1) {
  background-image: linear-gradient(45deg, #0ecffe 50%, #07a6f1);
}

.mask span:nth-child(2) {
  background-image: linear-gradient(45deg, #18e198 50%, #0ec15d);
}

.mask span:nth-child(3) {
  background-image: linear-gradient(45deg, #8a7cfb 50%, #633e9c);
}

.mask span:nth-child(4) {
  background-image: linear-gradient(45deg, #fa7671 50%, #f45f7f);
}

.section1{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  

  
}

.section1-1{
  display: flex;
  flex-direction: column;
  width:60%;
  align-items: center;
  margin-left: 110px;
  height: 340px;
  box-sizing: border-box;
  
}
.hey{
  font-family: 'Leckerli one', cursive;
  font-size: 100px;
  margin-bottom: -80px;
  cursor: url('image/cc2.svg'), auto;
}
.myname{
  padding: none;
  font-family: 'Tilt Warp',cursive;
  font-size: 251px;
  padding-left: 18px;
  cursor: url('image/cc2.svg'), auto;
  height: 260px;
  box-sizing: border-box;
}


.myname .letter:hover {
  color: royalblue;
  transition: color 0.2s ease;
}
.myname .letter:not(:hover){
 transition-delay:.7s;
}
.section1-2{
  display: flex;
  flex-direction: column;
  height: 700px;
  margin-right: -100px;
  margin-left: 0px;
  box-sizing: border-box;
  
    
}
.section1{
  z-index: 0;
}
.age{
  color:mediumspringgreen;
  position: top;
  font-family: 'Tilt Warp', cursive;
    font-size: 1000px;
    box-sizing: border-box;
    overflow: hidden;
    font-weight: 900;
    margin-top: -1100px;
    padding-bottom: 500px;
    z-index: 5;
    padding-left: 100px;
    
}

.age:hover{
  color:mediumspringgreen;
  transition: ease .5s;
    font-size: 900px;
    box-sizing: border-box;
    overflow: hidden;
    font-weight: 900;
    margin-top: -235px;

}
.age:not(:hover){
  transition-delay:2s;
 }
/*section2 beaches*/
.section2{
  color: var(--night-text-color)
}










section{
  border:2px solid green;
}

div{
  border:1px solid red;

}


